* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
header {
  width: 100%;
}
.bg-header {
  background-color: #264653;
  width: 100%;
}
.primary-btn {
  color: white;
  background-color: #e76f51;
  padding: 6px 19px;
  outline: none;
  border: none;
  border-radius: 5px;
}
hr {
  width: 150px;
  margin: 0 auto;
}
.gray-img {
  filter: grayscale(1);
}
.primary-color {
  color: #e76f51;
}
.secondary-color {
  color: #63b5e4;
}
button:hover {
  color: #264653;
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.card img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
figure img:hover {
  transform: skew(5deg);
  transition: all 0.3s ease;
}

@media (max-width: 320px) {
  header {
    width: 100%;
  }
  .happy {
    width: 100%;
  }
}
